<template>
    <div class="button">
        <article id ="grafica">
        
     </article>

     <h1> Recorrido</h1>
      
    <input id="xValue" type="number" step="any" placeholder="OSIRIS"> 
    <input id="yValue" type="number" step="any" placeholder="OSIRIS">
    
    <div id="chartContainer" style="height: 270px; width: 100%;">
    
    </div>
     <button id = "renderButton" type="button"  class="boton" onclick="location.href='http://192.168.13.21:8081/'">Visualizar  Recorrido</button>
    

 
</div>
       
    
</template>

<script>


var CanvasJS = require('../assets/canvasjs.min');
//CanvasJS = CanvasJS.Chart ? CanvasJS : window.CanvasJS;
import axios from 'axios';
var dps = [];
var dps2 =[];
var contadorsur;
//var contadornorte;
//var contadoreste;
//var contadoroeste;
  export default{

       mounted() {
                    this.getall();

    window.onload = function() {


            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Recorrido del Carro"
                    
                },
                data: [{
                    type: "line",
                    dataPoints: dps
                }],
               

            });


            function addDataPointsAndRender() {
                console.log("esto",dps)
              //  var xValue = Number(document.getElementById("xValue").value);
               //var  yValue = Number(document.getElementById("yValue").value);
              
                chart.render();
            }
           var renderButton = document.getElementById("renderButton");
         renderButton.addEventListener("click", addDataPointsAndRender);
        }
         
                },
                 methods: {
               getall(){
                axios.get('http://localhost:3000/coordenadas')
                        .then(Response =>{
                            dps = Response.data
                            console.log(dps2);
                        })
                        contadorsur=contadorsur+5;
                        dps.push({
                            x: contadorsur,
                            y:20
                        })
                },
                
            }
      
  }
 
        
</script>

<style  scoped>

.button{
   padding: 10%;
    text-align: center;
    background-color: brown;
    margin: 1% 1%;
    bottom: 2px;
   
    
}
.boton{
    background-color:black;
        margin: 1% 1%;
     color:blanchedalmond;
}



</style>