<template>
    <div>
        <footer id="Contacto" >
            <div class="footer">
                <p>Ingenieria de Sistemas</p>
                <p>Politecnico GranColombiano</p>
                <a href="https://www.poli.edu.co/content/estudiantes">Sitio web Politecnico Grancolombiano</a>
                
            </div>

        </footer>
    </div>
</template>

<script>
export default{
    name: 'Final'
}
</script>

<style scoped>
.footer{
    background-color:black;
    font-family: monospace;
    text-align: center;
    font-size: 100%;
    color: white;
    padding: 1%;
    margin: 1% 1%;
}
</style>