<template>
  <div id="app" class="hola">
    
    <bienvenido></bienvenido>
    <cuerpo></cuerpo>
    <final></final>
  </div>
</template>

<script>

import Bienvenido from './components/Cabecera.vue'
import Cuerpo from './components/Cuerpo.vue'
import Final from './components/Final.vue'
export default {
  name: 'App',
  components: {
   Bienvenido,
   Cuerpo,
   Final
  }
}
</script>

<style >

  

</style>
